.container {
  margin: 0 auto;
  max-width: 500px;
}

h1, .tagline {
  text-align: center;
}

h1 {
  padding-top: 30px;
  margin-bottom: 0;
}

.tagline {
  padding-top: 10px;
  padding-bottom: 30px;
  margin: 0;
}

body {
  font-family: 'Open Sans', Arial, sans-serif;
  background-color: #f9f7f5;
}

header {
   background-color: white;
 }

 section {
   background-color: white;
   max-width: 500px;
   padding: 30px 25px;
   margin-top: 20px;
 }

 img {
   width: 50px;
   height: 50px;
   padding: 7px;
 }

hr {
  color: #FFA500;
  /*background-color: #FFA500;*/
  height: 1.5px;
  border-style: solid;
}

h2 .city-description {
  font-size: 16px;
  padding: 25px;
}

a {
  color: purple;
}

a:hover {
  color: orange;
}
